.imgWrapper {
  width: 1132px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin: 0 auto 20px auto;
}

.img {
  transform: scale(1);

  transition: transform 150ms ease-in-out;

  cursor: zoom-in;
}

.img:hover {
  position: relative;
  transform: scale(1.1);

  z-index: 2;
}
