* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacityReverse {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
